[workspace]
members = [
    "common",
    "day01",
    "day02",
    "day03",
    "day04",
    "day05",
    "day06",
    "day07",
    "day08",
    "day09",
    "day10",
    "day11",
    "day12",
]

resolver = "2"

[workspace.dependencies]
anyhow = "1.0.79"
regex = "1.10.3"
